/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: "Bauhaus 93"
  src: url("src/assets/fonts/bauhaus-93/BAUHS93.ttf") format("truetype")

@font-face
  font-family: "Brandon Grotesque Light"
  src: url("src/assets/fonts/brandon-grotesque/brandon-grotesque-light-58a8a4b38001d.woff") format('woff')

@font-face
  font-family: "Brandon Grotesque Black"
  src: url("src/assets/fonts/brandon-grotesque/brandon-grotesque-black-58a8a3e824392.woff") format('woff')

html,
body,
  margin:  0
  padding: 0
  // width: 100%
  // height: 100%
  box-sizing: border-box
  font-family: "Bauhaus 93", sans-serif

$main: #2b244d
$beige: #D1B971


section.main 
  width: 100%
  display: grid
  grid-template-columns: 1fr repeat(12, 1fr) 
  grid-template-rows: repeat(12, 50px) 
  // background-color: #D1B971

header
  grid-column: 1 / 13
  grid-row: 1 / 2
  display: flex
  justify-content: center
  align-items: center
  font-size: 2rem
  font-family: "Bauhaus 93", sans-serif
  font-weight: 500
  border-bottom: 7px black solid
  letter-spacing: 2px
header p
      cursor: pointer
    
#user_buttons
  grid-column: 12 / 14
  grid-row: 1 / 3
  background-color: #000
 

#user_buttons button
  width: 100%
  height: 50%
  color: #fff
  background-color: black
  border: none
  font-family: "Brandon Grotesque Black"
  font-weight: 400
  letter-spacing: 2px
  text-transform: uppercase 
  padding: 0
  cursor: pointer
  transition: background-color .5s ease

#user_buttons button:hover
  background-color: yellow
  color: black

#user_buttons > button:nth-child(1)
  border-bottom: 6px solid #C53C21

#user_buttons > button:nth-child(1):hover
  border-bottom: 6px solid black
  border-left: 6px solid black
  border-top: 6px solid black
  
#user_buttons > button:nth-child(2):hover
  border-bottom: 6px solid black
  border-left: 6px solid black
  border-top: 6px solid black

#search 
  grid-column: 5 / 10
  grid-row: 2 / 3
  
#search input
  border: 7px solid black
  border-top: none
  height: 2.5rem
  font-family: "Brandon Grotesque Light"

#search button
  border: 7px solid black
  border-top: none
  height: 2.5rem
  width: 2.6rem
  border-left: none
  
#nav
  grid-column: 1 / span 2
  grid-row: 1 / 13
  font-size: 1.5rem
  background-color: #0864ae
  border-right: 7px black solid

nav ul
  list-style-type: none

main 
  grid-column: 3 / 13
  // grid-row: 3 / 13
  padding: 2rem
  display: flex
  flex-flow: column nowrap

app-sign-in, app-sign-up
  grid-column: 6 / 10
  grid-row: 5 / 10
  // display: flex
  // flex-flow: column wrap
app-player
  position: absolute
  bottom: 0
