<form>
  <input type="search" placeholder="Search" name="search" id="search" (keyup.enter)="getPods($event.target.value)">
  <button>
    <fa-icon class="searchIcon" icon="search" size="2x" [spin]="isSyncAnimated"
      (click)="isSyncAnimated =! isSyncAnimated"></fa-icon>
  </button>
</form>