<!-- <section class="is-primary">
  <img src="{{ result.thumbnail }}" />
  <h4> {{ result.title_original }} </h4>
  <a [routerLink]="['/podcast']" routerLinkActive="router-link-active" href="result.podcast_title_original"
    class="podcast_title"> {{ result.podcast_title_original }} </a>
  <p class="duration"> {{ result.audio_length }} </p>
  <div id="player">
    <audio controls="controls" src="{{ result.audio }}"></audio>
  </div>
  <fa-icon name=heart></fa-icon>
</section> -->

<section class="container">
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <img class="column image is-128x128 media-left" src="{{ result.thumbnail }}" />
            <p class="title">
              <a class="podcast_title" [routerLink]="['/podcast/:podcast_title_original']"
                routerLinkActive="router-link-active">
                {{ result.podcast_title_original }} </a>
            </p>
            <p class="subtitle">{{ result.title_original }} </p>
            <div class="" id="player">
              <audio controls="controls" src="{{ result.audio }}"></audio>
            </div>
            <span class="icon is-small is-danger" (click)="makeFavs(result)">
              <fa-icon icon="heart"></fa-icon>
            </span>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>