<section>
  <header [routerLink]="['']" routerLinkActive="router-link-active">
    <h1 class="is-size-1" routerLink=""> {{ title }} </h1>
  </header>
  <div id="user_buttons">
    <button [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign Up</button>
    <button [routerLink]="['/sign-in']" routerLinkActive="router-link-active">Sign In</button>
  </div>
  <app-search id="search"></app-search>
  <!-- <app-nav id="nav"></app-nav> -->
  <main>
    <app-podcast></app-podcast>
  </main>
  <!-- <app-player></app-player> -->
  <router-outlet></router-outlet>
</section>