
fieldset
  border: none
   z-index: 9

form 
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  
form > input
  width: 100%
  border: 5px solid black
  margin-bottom: 0.7rem
  padding: 0
  height: 3rem
  font-family: Brandon Grotesque Light, Helvetica, sans-serif
  font-weight: 600
  font-size: 1.2rem
  padding-left: 0.5rem

button
  height: 3rem
  width: 70%
  border: 5px solid black
  font-family: Brandon Grotesque Light, Helvetica, sans-serif
  font-weight: 600
  font-size: 1.2rem
  padding-left: 0.5rem
